# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/
cover/

# Flask stuff:
instance/
.webassets-cache

# IPython
profile_default/
ipython_config.py

# Environments.
.env
venv/

# mkdocs documentation.
/docs

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Editor stuff.
.vscode/